@font-face {
    font-family: "Fruktur-Regular";
    src: url("../font/Fruktur-Regular.ttf");
}

.title{
    font-weight: bold;
}

.title::first-letter{
    font-size: 140%;
    border-bottom: 1px dashed black;
}

.header-container {
    background-color: #f0f0f0;
}

.main-container{
    background-color: #fcfcfc;
}

.header {
    font-family: "Fruktur-Regular", sans-serif;
    font-size: calc(1.8rem + 2vw);
}

.text {
    word-wrap: break-word;
    white-space: pre-wrap;
}